.colors-type__column-left
    include ../__item/color-type__item.pug
    +color-type__item
    +color-type__item
    +color-type__item
    +color-type__item
    +color-type__item
    +color-type__item
    +color-type__item
    