<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title UI Kit
    body
        section.colors-type
            .wrapper
                .block-colors
                    mixin block(className, colorName, text)
                        div(class= className)
                            h2= colorName 
                            p= text
                    +block('ds100', 'Dark Shade 100%', '#1f2041')             
                .texts
