mixin color(modifier-class,title-text,color-code-text)
    .color__palette.modifier-class
    .color__description
        .title= title-text
        .color__code
            p= color-code-text
  
