mixin color(modifier-class,title-text,color-code-text)
    .color__palette.modifier-class
    .color__description
        p.title_family_h2= title-text
        p.title_family_body.color__description_uppercase= color-code-text

