$darkShade100: #1f2041;
$darkShade75: lighten(#1f2041, 25%);
$darkShade50: lighten(#1f2041, 50%);
$darkShade25: lighten(#1f2041, 75%);
$darkShade5: lighten(#1f2041, 95%);
$purple: #bc9cff;
$green: #6fcf97;

$desktopWidth: 1920px;
$xlDesktopWidth: 1280px;
$lgDesktopWidth: 980px;
$tableWidth: 768px;
$phoneWidth: 480px;
$smPhoneWidth: 320px;

